@charset "utf-8";

//item_list
.item_list {
	li {
		width: 33.33%;
	}
}

// category_list
#category_item_list {
	.category_li_pc {
		display: inline;
		padding: 10px 0 !important;
	}

	.category_li_sp {
		display: none;
	}
}

// product_box
#product_box {
	padding: 15px 30px;

	#main_view {
		float: left;
		width: 72%;
	} // main_view

	#pict_list {
		float: right;
		width: 28%;

		li {
			float: left;
			width: 48%;
		}
	} // pict_list

	#cart_box {
		#form_wrapper {
			width: 50%;
			float: left;

			@media (max-width: 952px) {
        float: none;
        width: 100%;
      }
		} // form_wrapper

		#cart_button {
			float: right;

			@media (max-width: 952px) {
				clear: both;
				float: none;
				width: 225px;
				margin:0 auto;
				padding-top: 20px;
			}
		} // cart_button
	} // cart_box
}

// shopping_guide
.guide_box {
	width: 50%;
}
