.item_list li {
		width: 50%;
}

#category_item_list h2 .category_li_pc {
		display: none;
}

#category_item_list h2 .category_li_sp {
		display: inline;
		padding: 10px 0 !important;
}

#watch_item_list h2 {
		padding-bottom: 50px;
		background: url("../images/list/title_recent_pro.png") no-repeat 50% 50%;
}

@media screen and (-web-kit-divice-pixel-ratio: 2), (min-resolution) {
		#watch_item_list h2 {
				background: url("../images/list/title_recent_pro@2x.png");
		}
}

#watch_item_list h2 img {
		display: none;
}

#product_box {
		padding: 15px;
}

#product_box #product_name {
		padding: 0 0 10px 0 !important;
}

#product_box #product_name #product_id {
		display: block !important;
		float: none !important;
		padding-top: 3px;
}

#product_box #product_pict {
		padding-bottom: 10px !important;
}

#product_box #product_pict #main_view {
		margin-bottom: 10px;
}

#product_box #pict_list {
		display: flex;
		display: -webkit-flex;
		flex-flow: row wrap;
		-webkit-flex-flow: row wrap;
}

#product_box #pict_list li {
		width: 20%;
}

#product_box #pict_list li img {
		border: 2px solid #fff;
		margin-left: -6px;
}

#product_box #cart_box #form_wrapper {
		width: 100%;
}

#product_box #cart_box #cart_button {
		width: 225px;
		margin: 0 auto;
		padding: 15px;
}

#shopping_guide h2 {
		padding-bottom: 50px;
		background: url("../images/top_sp/title_guide.png") no-repeat 50% 50%;
}

@media screen and (-web-kit-divice-pixel-ratio: 2), (min-resolution) {
		#shopping_guide h2 {
				background: url("../images/top_sp/title_guide@2x.png");
		}
}

#shopping_guide h2 img {
		display: none;
}

#shopping_guide .guide_box {
		width: 100%;
}
